.badge {
    display: inline-block;
    color: #fff;
    padding: 0.2rem 0.6rem;
    border-radius: 1rem;
    font-size: 0.6rem;
    text-align: center;
    white-space: nowrap;
    background-color: green;
}

.custom-font {
    font-size: 24px;
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
}

.centered-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%; /* 必要に応じてサイズを調整してください */
}

a.hashtag {
    color: #1DA1F2;         /* Twitterのブルー色 */
    text-decoration: none;  /* アンダーラインを削除 */
    background: #E8F5FE;    /* 薄いブルーの背景色 */
    padding: 2px 5px;       /* 内側のスペースを付ける */
    border-radius: 15px;    /* 角を丸める */
    font-weight: bold;      /* 太字にする */
}

a.hashtag:hover {
    background: #CCE9FF;    /* 背景色を少し濃くする */
    text-decoration: underline; /* アンダーラインを追加 */
    color: #1681BF;         /* テキストの色を少し濃くする */
    transition: background 0.3s, color 0.3s; /* 色の変更を滑らかにする */
}

a.hashtag:focus {  /* キーボード操作のためのフォーカススタイルも追加 */
    outline: none;  /* 既定のアウトラインを削除 */
    box-shadow: 0 0 0 3px rgba(29, 161, 242, 0.4);  /* Twitterのブルー色の影を追加 */
}

.hashtag-container {
    max-height: 200px; /* 必要に応じて調整 */
    overflow-y: auto;
}

.post-container {
    cursor: pointer;
}

